body{
    margin: 0;
    padding: 0;
    font-family:'Coiny',cursive;
    
  
    
    /* background-image:url("images/home/Login_img.jpg"); */
    background: url("images/home/Login_img.jpg") no-repeat top center fixed;
    background-size:cover;
    background-repeat: no-repeat;
   
   
}
.logo{
  margin-left: 20px;
  margin-top: 20px;
}
  .container{
    width:300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919 no-repeat top center fixed;
    /* background: #191919; */
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 50px 50px;
  }
  .container h1{
    color: white;
    font-weight: 500;
  
  }
  .container input[type="text"],.container input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    font-size: 16px;
    border-radius: 24px;
    transition: 0.25s;
  }
  .container input[type="text"]:focus,.container input[type="password"]:focus{
    width: 280px;
    border-color: #fa1414;
  }
  .container input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 25px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 17px;
    font-family: 'Libre Baskerville', serif;
  }
  .container input[type="submit"]:hover{
    background: #2ecc71;
  }